* {
    box-sizing: border-box;
    font-family: Montserrat;
}

.App {
}

.hw {

}

.hwTitle {
    margin: 20px 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 26.85px;
    color: #000000;
}